In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
%matplotlib notebook

In [2]:
fruits=pd.read_csv('../Dataset/fruit_data.csv')

In [3]:
fruits.head()

,Unnamed: 0,fruit_label,fruit_name,fruit_subtype,mass,width,height,color_score
0,0,1,apple,granny_smith,192,8.4,7.3,0.55
1,1,1,apple,granny_smith,180,8.0,6.8,0.59
2,2,1,apple,granny_smith,176,7.4,7.2,0.60
3,3,2,mandarin,mandarin,86,6.2,4.7,0.80
4,4,2,mandarin,mandarin,84,6.0,4.6,0.79

In [4]:
fruits.isnull().sum()

Unnamed: 0       0
fruit_label      0
fruit_name       0
fruit_subtype    0
mass             0
width            0
height           0
color_score      0
dtype: int64

In [5]:
fruits=fruits.drop(['Unnamed: 0','fruit_label','fruit_subtype','color_score'],1)

In [6]:
fruits.head()

  fruit_name  mass  width  height
0      apple   192    8.4     7.3
1      apple   180    8.0     6.8
2      apple   176    7.4     7.2
3   mandarin    86    6.2     4.7
4   mandarin    84    6.0     4.6

In [7]:
fruits_name = {'apple':1,'mandarin':2,'orange':3,'lemon':4}
fruits["fruit_name"] = fruits["fruit_name"].map(fruits_name)

In [9]:
fruits.head()

   fruit_name  mass  width  height
0           1   192    8.4     7.3
1           1   180    8.0     6.8
2           1   176    7.4     7.2
3           2    86    6.2     4.7
4           2    84    6.0     4.6

In [15]:
X = fruits[['mass','width','height']]
y = fruits['fruit_name']

In [16]:
X_train,X_test,y_train,y_test = train_test_split(x,y, random_state= 0)

In [17]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)

In [18]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [19]:
knn.score(X_test,y_test)

0.5333333333333333

In [21]:
import pickle
pickle.dump(knn,open('../model/knn_model.pkl','wb'))